/* Reset some default browser styles */
html, body, h1, h2, p, ul, li, a {
    margin: 0;
    margin-top: 2.5rem;
    padding: 0;
}

/* Apply a basic font and background color to the entire page */
body {
    font-family: Hack;
    background-color: #f0f0f0;
    padding-bottom: 200px;
}

#name {
    color: #000;
    font-size: 32px;
    display: flex; 
    font-weight: bold;
    letter-spacing: 2px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#left_header {
    flex: 1;
    min-width: 300px;
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

#portrait {
    width: 350px;
    height: auto;
}

#resume_link {
    position: relative;
    margin: auto;
    margin-top: 60px;
}

#subtitle {
    height: fit-content;
    position: relative;
    color:#696969;
    font-size:22px;
    margin-top: 10px;
}

#center {
    margin-left:auto;
    margin-right:auto;
    width:90%
}

#blurb {
    position: relative;
    top: -3px;
    line-height: 25px;
    text-align: left;
}

.layered_button::before {
    box-sizing: border-box;
}

.layered_button {
    width: 200px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0px;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    padding: 1.15em 2em;
    text-transform: uppercase;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 0.25s ease-out, background 0.25s ease-out;
}

.layered_button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0px;
    border-radius: inherit;
    transform: translate3d(0px, 0.7em, -1em);
    transition: transform 0.25s ease-out, box-shadow 0.2s ease-out;
}

.layered_button:hover {
    transform: translateY(0.25em);
}

.layered_button:hover::before {
    transform: translate2d(0px, 0.5em, -1em);
}

.layered_button--pink {
    color: rgb(147, 26, 62);
    background: rgb(255, 229, 237);
    border: 2px solid rgb(147, 26, 62);
}

.layered_button--pink::before {
    background: rgb(255, 179, 201);
    box-shadow: rgb(147, 26, 62) 0px 0px 0px 2px;
}

.links {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    width:320px;
    justify-content: space-between;
}

.link_float {
    transition: margin 0.2s ease-in-out;
}

.link_float:hover {
    margin-top: -2px;
    margin-bottom: 2px;
    font-weight:bold;
    text-decoration:underline;
}

.link_bold:hover {
    font-weight:bold;
    text-decoration:underline;
}

#blurb_email {
    margin-top: 30px;
    display: inline-block;
    white-space: nowrap;
}

#about_me::after {
    position: relative;
    top:3px;
    left:-5px;
    content: "";
    width: 6px;
    height: 20px;
    background: #ec7fff;
    display: inline-block;

    animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
}

@media (max-width: 768px) {
    #header {
        flex-direction: column-reverse;
        align-items: center;
    }

    #portrait {
        width: 200px;
    }

    #left_header {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .links {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 40px auto;
    }

    #name {
        font-size: 28px;
        text-align: center;
    }

    #subtitle {
        text-align: center;
    }

    #resume_link {
        margin-top: 10px;
        position: relative;
    }

    #blurb_email {
        white-space: normal;
        width: 100%;
    }
}
