/* Reset some default browser styles */
html, body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Apply a basic font and background color to the entire page */
body {
    font-family: Hack;
    background-color: #f0f0f0;
}

#name {
    position: relative;
    color: #000;
    font-size: 32px;
    top: 170px;
    display: flex; 
    font-weight: bold;
    letter-spacing: 2px;
}

#portrait {
    position: relative;
    left: 300px;
    width: 350px;
    top:-30px;
}

#subtitle {
    position: relative;
    color:#696969;
    font-size:22px;
    top: 175px;
}

#center {
    margin-left:auto;
    margin-right:auto;
    width:600px;
}

#blurb {
    position: relative;
    top: 20px;
    line-height: 22px;
}

.link {
    margin-right: 10px;
}
.link:hover {
    font-weight:bold;
}

.link:hover{
    text-decoration:underline;
}